# .tfstate files
*.tfstate
*.tfstate.*

# Local .terraform directories
**/.terraform/*

# Ignore all variable definition files 
*.tfvars 
*.tfvars.json

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc

